WRT.Client/Service References/TimerServiceLocal/TimerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56126/TimerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56126/TimerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56126/TimerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimerService_InitRace_InputMessage">
    <wsdl:part name="parameters" element="tns:InitRace" />
  </wsdl:message>
  <wsdl:message name="ITimerService_InitRace_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitRaceResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerService_CreateCompetitor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompetitor" />
  </wsdl:message>
  <wsdl:message name="ITimerService_CreateCompetitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompetitorResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerService_StartAll_InputMessage">
    <wsdl:part name="parameters" element="tns:StartAll" />
  </wsdl:message>
  <wsdl:message name="ITimerService_StartAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerService_FinnishCompetitor_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnishCompetitor" />
  </wsdl:message>
  <wsdl:message name="ITimerService_FinnishCompetitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnishCompetitorResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerService_FinnishRace_InputMessage">
    <wsdl:part name="parameters" element="tns:FinnishRace" />
  </wsdl:message>
  <wsdl:message name="ITimerService_FinnishRace_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinnishRaceResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerService_GetCompetitors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompetitors" />
  </wsdl:message>
  <wsdl:message name="ITimerService_GetCompetitors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompetitorsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerService_GetRace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRace" />
  </wsdl:message>
  <wsdl:message name="ITimerService_GetRace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerService_StartRace_InputMessage">
    <wsdl:part name="parameters" element="tns:StartRace" />
  </wsdl:message>
  <wsdl:message name="ITimerService_StartRace_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartRaceResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimerService">
    <wsdl:operation name="InitRace">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/InitRace" message="tns:ITimerService_InitRace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/InitRaceResponse" message="tns:ITimerService_InitRace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompetitor">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/CreateCompetitor" message="tns:ITimerService_CreateCompetitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/CreateCompetitorResponse" message="tns:ITimerService_CreateCompetitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/StartAll" message="tns:ITimerService_StartAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/StartAllResponse" message="tns:ITimerService_StartAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnishCompetitor">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/FinnishCompetitor" message="tns:ITimerService_FinnishCompetitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/FinnishCompetitorResponse" message="tns:ITimerService_FinnishCompetitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinnishRace">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/FinnishRace" message="tns:ITimerService_FinnishRace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/FinnishRaceResponse" message="tns:ITimerService_FinnishRace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompetitors">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/GetCompetitors" message="tns:ITimerService_GetCompetitors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/GetCompetitorsResponse" message="tns:ITimerService_GetCompetitors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRace">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/GetRace" message="tns:ITimerService_GetRace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/GetRaceResponse" message="tns:ITimerService_GetRace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartRace">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerService/StartRace" message="tns:ITimerService_StartRace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerService/StartRaceResponse" message="tns:ITimerService_StartRace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimerService" type="tns:ITimerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitRace">
      <soap:operation soapAction="http://tempuri.org/ITimerService/InitRace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCompetitor">
      <soap:operation soapAction="http://tempuri.org/ITimerService/CreateCompetitor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAll">
      <soap:operation soapAction="http://tempuri.org/ITimerService/StartAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinnishCompetitor">
      <soap:operation soapAction="http://tempuri.org/ITimerService/FinnishCompetitor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinnishRace">
      <soap:operation soapAction="http://tempuri.org/ITimerService/FinnishRace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompetitors">
      <soap:operation soapAction="http://tempuri.org/ITimerService/GetCompetitors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRace">
      <soap:operation soapAction="http://tempuri.org/ITimerService/GetRace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRace">
      <soap:operation soapAction="http://tempuri.org/ITimerService/StartRace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimerService">
    <wsdl:port name="BasicHttpBinding_ITimerService" binding="tns:BasicHttpBinding_ITimerService">
      <soap:address location="http://localhost:56126/TimerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>