WRT.Client/Service References/TimerService/TimerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56126/TimerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" />
  <xs:element name="InitRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitRaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompetitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompetitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" minOccurs="0" name="CreateCompetitorResult" nillable="true" type="q1:Competitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="raceSid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartAllResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnishCompetitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="raceSid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="competitorSid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnishCompetitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnishCompetitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnishRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="raceSid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinnishRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinnishRaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="raceSid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" minOccurs="0" name="GetCompetitorsResult" nillable="true" type="q2:ArrayOfCompetitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="raceSid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" minOccurs="0" name="GetRaceResult" nillable="true" type="q3:Race" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="raceSid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartRaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>