WRT.Client/Service References/TimerService/TimerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56126/TimerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Competitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompetitorSid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RaceSid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Competitor" nillable="true" type="tns:Competitor" />
  <xs:complexType name="ArrayOfCompetitor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Competitor" nillable="true" type="tns:Competitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetitor" nillable="true" type="tns:ArrayOfCompetitor" />
  <xs:complexType name="Race">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Finnished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RaceSid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Race" nillable="true" type="tns:Race" />
</xs:schema>