WRT.Client/Service References/TrackerService/TrackerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56126/TrackerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" />
  <xs:element name="RegistreraKoordinater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kontainerId" type="xs:int" />
        <xs:element minOccurs="0" name="tidpunkt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noggranhet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistreraKoordinaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistreraKoordinaterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistreraKoordinaterOchStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kontainerId" type="xs:int" />
        <xs:element minOccurs="0" name="tidpunkt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noggranhet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistreraKoordinaterOchStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistreraKoordinaterOchStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HämtaKontainrar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HämtaKontainrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" minOccurs="0" name="HämtaKontainrarResult" nillable="true" type="q1:ArrayOfKontainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>