WRT.Client/Service References/TrackerService/TrackerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrackerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56126/TrackerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56126/TrackerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56126/TrackerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrackerService_RegistreraKoordinater_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistreraKoordinater" />
  </wsdl:message>
  <wsdl:message name="ITrackerService_RegistreraKoordinater_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistreraKoordinaterResponse" />
  </wsdl:message>
  <wsdl:message name="ITrackerService_RegistreraKoordinaterOchStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistreraKoordinaterOchStatus" />
  </wsdl:message>
  <wsdl:message name="ITrackerService_RegistreraKoordinaterOchStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistreraKoordinaterOchStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITrackerService_HämtaKontainrar_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaKontainrar" />
  </wsdl:message>
  <wsdl:message name="ITrackerService_HämtaKontainrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaKontainrarResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrackerService">
    <wsdl:operation name="RegistreraKoordinater">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackerService/RegistreraKoordinater" message="tns:ITrackerService_RegistreraKoordinater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackerService/RegistreraKoordinaterResponse" message="tns:ITrackerService_RegistreraKoordinater_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistreraKoordinaterOchStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackerService/RegistreraKoordinaterOchStatus" message="tns:ITrackerService_RegistreraKoordinaterOchStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackerService/RegistreraKoordinaterOchStatusResponse" message="tns:ITrackerService_RegistreraKoordinaterOchStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HämtaKontainrar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackerService/HämtaKontainrar" message="tns:ITrackerService_HämtaKontainrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackerService/HämtaKontainrarResponse" message="tns:ITrackerService_HämtaKontainrar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrackerService" type="tns:ITrackerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistreraKoordinater">
      <soap:operation soapAction="http://tempuri.org/ITrackerService/RegistreraKoordinater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistreraKoordinaterOchStatus">
      <soap:operation soapAction="http://tempuri.org/ITrackerService/RegistreraKoordinaterOchStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HämtaKontainrar">
      <soap:operation soapAction="http://tempuri.org/ITrackerService/HämtaKontainrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackerService">
    <wsdl:port name="BasicHttpBinding_ITrackerService" binding="tns:BasicHttpBinding_ITrackerService">
      <soap:address location="http://localhost:56126/TrackerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>