WRT.Client/Service References/TrackerService/TrackerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WRT.Core.BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKontainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kontainer" nillable="true" type="tns:Kontainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKontainer" nillable="true" type="tns:ArrayOfKontainer" />
  <xs:complexType name="Kontainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="KontainerId" type="xs:int" />
      <xs:element minOccurs="0" name="Namn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serienummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tillverkad" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kontainer" nillable="true" type="tns:Kontainer" />
</xs:schema>